---
layout: default
---

<div class="posts">
{% for post in site.posts %}
	<div class="post-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h2><a href="{{ post.url | prepend: site.baseurl }}" style="text-decoration : none; color : #000;">{{ post.title }}</a></h2>
					<p><bd>{{ post.author }} - {{ post.date | date: "%B %-d, %Y" }}</bd></p>
					<p></p>
                    <p>{% if post.img %}<img src="{{ post.img }}">{% endif %}</p>
					<p>{% if post.excerpt %} {{ post.excerpt }}
                       {% else %}  {{ post.description}}  {% endif %}</p>
					<p><a href="{{ post.url | prepend: site.baseurl }}">Continue Reading...</a></p>
				</div>
			</div><!-- /row -->
		</div> <!-- /container -->
	</div> <!-- /post-section -->
{% endfor %}
</div>
