---
layout: default
---

<!-- +++++ Products Section +++++ -->

<div class="container pt">

	<!-- +++++ Product intro Section +++++ -->
	<div class="row mt">
		<div class="col-lg-6 col-lg-offset-3 centered">
			<h3>CUTTING TOOLS</h3>
			<hr>
			<p>We are working to show you interesting product ranges here. Reach us through email at inquiry@expetek.com if you would like to know now.</p>
		</div>
	</div>

	<div class="row mt">
		<!-- +++++ Cutting tools Product Tree row +++++ -->
		<div class="col-sm-4 col-md-3">
			<h4><a href="/cutting-tools">Cutting Tools</a></h4>
			<ul class="nav flex-column">
			  <li class="nav-item">
			    <a class="nav-link" href="/milling">Milling</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="/turning">Turning</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="/hole-making">Hole Making</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="tooling-system">Tooling System</a>
			  </li>
			</ul>
		</div>

		<!-- Product List row -->
		<div class="col-sm-8 col-md-9">
			{% for product in site.products %}
				{% if product.published == true and product.type == 'cutting-tools' %}
					{% cycle 'add rows': '<div class="row mt centered">', nil, nil %}

						<div class="col-sm-12 col-md-4">
							<a class="zoom green" href="{{ product.url | prepend: site.baseurl }}"><img class="img responsive" src="{{ product.img }}" alt="" style="height:300px"/></a>
							<h4>{{ product.title }}</h4>
							<p>{{ product.short }}</p>
						</div>

					{% cycle 'close rows': nil, nil, '</div>' %}
				{% endif %}
			{% endfor %}
			{% cycle 'close rows': nil, '</div>', '</div>' %}
		</div>
	</div>
</div><!-- /container -->
