---
layout: default
---

<!-- +++++ Welcome Section +++++ -->
<div id="ww">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 centered">
				<img src="assets/img/user.png" alt="expetek">
				<h1>EXPETEK - Expert for Production Excellence!</h1>
				<p>We deliver our service and products at fastest pace, help our customers be more competitive in their market.<br/>We co-operate with our customer to optimize their production system to achieve next level of production excellence.</p>
			</div><!-- /col-lg-8 -->
		</div><!-- /row -->
	</div> <!-- /container -->
</div><!-- /ww -->


<!-- +++++ Projects Section +++++ -->

<div class="container pt">
	{% for product in site.products %}
		{% if product.published == true %}
			{% cycle 'add rows': '<div class="row mt centered">', nil, nil %}

				<div class="col-lg-4">
					<a class="zoom green" href="{{ product.url | prepend: site.baseurl }}"><img class="img-responsive" src="{{ product.img }}" alt="" /></a>
					<p>{{ product.title }}</p>
				</div>

			{% cycle 'close rows': nil, nil, '</div>' %}
		{% endif %}
	{% endfor %}
	{% cycle 'close rows': nil, '</div>', '</div>' %}
</div><!-- /container -->
