---
layout: default
---

<!-- +++++ Welcome Section +++++ -->
<div id="ww" style="background:url('/assets/img/products/production-eco.jpg'); height:400px">
	<div class="container" >
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 centered">
				<h1>Expert for Production Excellence</h1>
				<p>We deliver our service and products at fast pace, help our customers be more competitive in their market.<br/>We co-operate with our customer to optimize their production system to achieve next level of production excellence.</p>
			</div><!-- /col-lg-8 -->
		</div><!-- /row -->
	</div> <!-- /container -->
</div><!-- /ww -->

<!-- +++++ Featured Product Ranges Section +++++ -->

<div class="container pt">
	<div class="row">
		<h2>Featured Products</h2>
	</div>
	<div class="row centered">
		{% for product in site.products %}
			{% if product.published == true and product.featured %}
				{% cycle 'add rows': '<div class="row mt centered">', nil, nil %}

					<div class="col-sm-6 col-md-4">
						<a class="zoom green" href="{{ product.url | prepend: site.baseurl }}"><img class="img responsive" src="{{ product.img }}" alt="" style="height:300px"/></a>
						<h4>{{ product.title }}</h4>
						<p>{{ product.short }}</p>
					</div>

				{% cycle 'close rows': nil, nil, '</div>' %}
			{% endif %}
		{% endfor %}
		{% cycle 'close rows': nil, '</div>', '</div>' %}
	</div>
</div><!-- /container -->
