<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h4>Our Office</h4>
				<p>
					Floor 2, Lot 32, Commercial Le Parc<br/>
					Yen So Park, Yen So, Hoang Mai<br/>
					Hanoi, Vietnam, 100000<br/>

					Tel: +84 24 66509624<br/>
					Hotline: +84 90 4525321<br/>
					Email: inquiry@expetek.com<br/>
				</br/>
				</br/>
				</p>
			</div><!-- /col-lg-4 -->

			<div class="col-sm-4">
				<h4>Our Blog</h4>
				{% for post in site.posts limit:3 %}
					<p><a href="{{ post.url | prepend: site.baseurl }}" style="text-decoration : none;">{{ post.title }}</a><br/>
						{{ post.date | date: "%B %-d, %Y" }}
					</p>
				{% endfor %}
			</div><!-- /col-lg-4 -->

			<div class="col-sm-4">
				<h4>About Expetek</h4>
				<p>“Our aim is deliver our products/services at fast pace to help customers achieve business goals. We work closely with customer to optimize production system achieve next level of production excellence.”</p>
			</div><!-- /col-lg-4 -->

		</div>
		<div class="row centered">
			<div class="col-sm-3">
    	</div>
    	<div class="col-sm-3">
      	<p><a href="https://twitter.com/expetekvn">Twitter</a></p>
    	</div>
    	<div class="col-sm-3">
				<p><a href="https://www.facebook.com/expetek/">Facebook</a></p>
    	</div>
			<div class="col-sm-3">
    	</div>
  	</div>
		<div class="row centered">
			<p>ⓒ 2017 by <a href="/">EXPETEK</a> CO., LTD.</p>
		</div>
	</div>
</div>


	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

		<script>
  	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  	ga('create', 'UA-11338690-7', 'auto');
  	ga('send', 'pageview');

	</script>
