<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h4>Our Office</h4>
				<p>
					Floor #2, Lot 32, Le Parc by Gamuda<br/>
					Yen So Park, Yen So, Hoang Mai<br/>
					Hanoi, Vietnam, 100000<br/>

					Tel: +84 90 4525321<br/>
					Fax: +84 90 4525321<br/>
					Email: inquiry@expetek.com<br/>
				</br/>
				</br/>
				</p>
			</div><!-- /col-lg-4 -->

			<div class="col-sm-4">
				<h4>Our Blog</h4>
				{% for post in site.posts %}
					<p><a href="{{ post.url | prepend: site.baseurl }}" style="text-decoration : none;">{{ post.title }}</a><br/>
					{{ post.date | date: "%B %-d, %Y" }}
					</p>
				{% endfor %}
			</div><!-- /col-lg-4 -->

			<div class="col-sm-4">
				<h4>About Expetek</h4>
				<p>We deliver our service and products at fastest pace, help our customers be more competitive in their market.<br/>We co-operate with our customer to optimize their production system to achieve next level of production excellence.</p>
			</div><!-- /col-lg-4 -->

		</div>
		<div class="row centered">
			<p>
				<a href="#">    Instagram    </a>
				<a href="#">    Twitter    </a>
				<a href="#">    Facebook    </a>
			</p>
			<p>ⓒ 2017 by <a href="/">Expetek</a> Co., Ltd.</p>
		</div>
	</div>
</div>


	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
